html,
body {
  background-color: #eef1ff;
}
h1 {
  color: #aac4ff;
  font-family: "Croissant One", cursive;
  text-align: center;
}
h3 {
  font-family: "Arima Madurai", cursive;
  text-align: center;
  opacity: 0.7;
}
img {
  opacity: 0.9;
}
button {
  background-color: #aac4ff;
  opacity: 0.7;
  padding: 10px;
  width: 140px;
  text-align: center;
}
.quiz,
.final-score {
  border: 1px solid #9c7ee8;
  margin: 25px 23px;
  padding: 22px;
}
.radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 18px;
}
.option {
  padding: 5px;
  width: 372px;
  position: relative;
}
.option input {
  display: none;
}
.option label {
  font-family: "Arima Madurai", cursive;
  cursor: pointer;
  font-size: 25px;
  opacity: 0.7;
}
.option label::after {
  content: " ";
  position: absolute;
  right: 102%;
  width: 22px;
  height: 27px;
  border: 5px solid #aac4ff;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
.option label::before {
  content: " ";
  position: absolute;
  top: 33%;
  right: 104%;
  width: 8px;
  height: 10px;
  transform: translateY(-32%);
  background-color: #aac4ff;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.4s;
}
.option input:checked ~ label::before {
  opacity: 1;
}
.next-btn {
  font-family: "Arima Madurai", cursive;
  font-size: 20px;
}
.final-score {
  text-align: center;
  margin-top: 173px;
}
.final-score h2 {
  color: #aac4ff;
  font-family: "Croissant One", cursive;
}
.restart-btn {
  font-family: "Arima Madurai", cursive;
  font-size: 20px;
  width: 195px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
    margin-top: 32px;
  }
  img {
    width: 200px;
  }
  .quiz {
    width: 279px;
  }
  .option {
    text-align: center;
    width: 140px;
  }
  .option label::after {
    right: 99%;
  }
}
